* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  color: rgb(45, 56, 52);
}

.border {
  /* border: black solid 1px; */
}
#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calc-container {
  display: flex;
  flex-direction: column;
}
#screen-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  width: 500px;
  min-height: 150px;
  padding-right: 20px;
  /* font-size: 60px; */
  background-color: aliceblue;
  border: 10px rgb(47, 47, 47) solid;
}
#button-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
  height: 500px;
  gap: 5px;
  padding: 5px;
  background-color: rgb(47, 47, 47);
  border-bottom: 15px solid rgb(47, 47, 47);
}

#main-display {
  font-size: 50px;
}
#upper-display {
  font-size: 30px;
}

.btn-dbl {
  grid-row-start: 5;
  grid-column-end: span 2;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 3px;
  background-color: rgb(161, 250, 220);
}

.btn-num {
  background-color: rgb(255, 200, 98);
}
